.card {
    display: flex;
    height: 220px;
    /* width: max-content; */
    width: 220px;
    /* margin: 10px; */
    /* padding: 10px; */
    border-radius: 15px;   
    background-repeat: no-repeat;
    background-position: top -5px right 10px;
}

.activity-container {
    height: 170px;
    width: 100%;
    background-color: hsl(235, 46%, 20%);
    border-radius: 15px;
    align-self: flex-end;   
}