:root {
    --pale-blue: hsl(236, 100%, 87%);
    --desat-blue: hsl(235, 45%, 61%);
}

.card {
    display: flex;
    height: 220px;
    /* width: max-content; */
    width: 220px;
    /* margin: 10px; */
    /* padding: 10px; */
    border-radius: 15px;   
    background-repeat: no-repeat;
    background-position: top -8px right 10px;
}

.activity-container {
    box-sizing: border-box;
    height: 175px;
    width: 100%;
    background-color: hsl(235, 46%, 20%);
    border-radius: 13px;
    align-self: flex-end;
    padding: 1.5rem;
}

.header {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.header img {
    object-fit: contain;
}

.time-display {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.time__current {
    font-size: 48px;
    font-weight: 300;
    margin: 0;
}

.time__prev {
    font-size: 13px;
    font-weight: 400;
    margin: 0;
    color: var(--pale-blue)
}